.bg-banner{
    background-image: url("https://i.ibb.co/n8Kfw3M/Whats-App-Image-2021-12-01-at-2-29-33-PM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.p-img {
    padding: 90px;
}

@media only screen and (max-width: 600px) {
  .p-img {
   padding: 20px;
  }
}